.col-sm-10{
    padding: 0px;
}

.home{
    border-radius: 6px;
    border: 5px solid #dddddd;
    width: 99%;
    height: 800px;
}

.home h1{
    padding: 0px 0px 0px 20px;
}

.block-up,
.block-down{
    background-color: #4cae4c;
}

.block-down{

}

.block-left,
.block-right{
    width: 300px;
    height: 300px;
    background-color: #4cae4c;
}

.block-right{
}

