<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.KlKnowledgeMapper">
  <cache type="com.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.model.KlKnowledge">
    <constructor>
      <idArg column="kl_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_kind" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_introduction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_tags" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_appendix" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_appendix_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_video" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_video_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_hints" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_collection_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="kl_connect_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kl_parent_file_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    kl_id, user_id, kl_kind, kl_title, kl_introduction, kl_content, kl_tags, kl_appendix, 
    kl_appendix_number, kl_video, kl_video_number, kl_hints, kl_collection_number, kl_connect_ids, 
    kl_parent_file_id
  </sql>
  <select id="selectByExample" parameterType="com.model.KlKnowledgeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kl_knowledge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kl_knowledge
    where kl_id = #{klId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kl_knowledge
    where kl_id = #{klId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.KlKnowledgeExample">
    delete from kl_knowledge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.KlKnowledge">
    insert into kl_knowledge (kl_id, user_id, kl_kind, 
      kl_title, kl_introduction, kl_content, 
      kl_tags, kl_appendix, kl_appendix_number, 
      kl_video, kl_video_number, kl_hints, 
      kl_collection_number, kl_connect_ids, kl_parent_file_id
      )
    values (#{klId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{klKind,jdbcType=INTEGER}, 
      #{klTitle,jdbcType=VARCHAR}, #{klIntroduction,jdbcType=VARCHAR}, #{klContent,jdbcType=VARCHAR}, 
      #{klTags,jdbcType=VARCHAR}, #{klAppendix,jdbcType=VARCHAR}, #{klAppendixNumber,jdbcType=INTEGER}, 
      #{klVideo,jdbcType=VARCHAR}, #{klVideoNumber,jdbcType=INTEGER}, #{klHints,jdbcType=INTEGER}, 
      #{klCollectionNumber,jdbcType=INTEGER}, #{klConnectIds,jdbcType=VARCHAR}, #{klParentFileId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.KlKnowledge">
    insert into kl_knowledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="klId != null">
        kl_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="klKind != null">
        kl_kind,
      </if>
      <if test="klTitle != null">
        kl_title,
      </if>
      <if test="klIntroduction != null">
        kl_introduction,
      </if>
      <if test="klContent != null">
        kl_content,
      </if>
      <if test="klTags != null">
        kl_tags,
      </if>
      <if test="klAppendix != null">
        kl_appendix,
      </if>
      <if test="klAppendixNumber != null">
        kl_appendix_number,
      </if>
      <if test="klVideo != null">
        kl_video,
      </if>
      <if test="klVideoNumber != null">
        kl_video_number,
      </if>
      <if test="klHints != null">
        kl_hints,
      </if>
      <if test="klCollectionNumber != null">
        kl_collection_number,
      </if>
      <if test="klConnectIds != null">
        kl_connect_ids,
      </if>
      <if test="klParentFileId != null">
        kl_parent_file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="klId != null">
        #{klId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="klKind != null">
        #{klKind,jdbcType=INTEGER},
      </if>
      <if test="klTitle != null">
        #{klTitle,jdbcType=VARCHAR},
      </if>
      <if test="klIntroduction != null">
        #{klIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="klContent != null">
        #{klContent,jdbcType=VARCHAR},
      </if>
      <if test="klTags != null">
        #{klTags,jdbcType=VARCHAR},
      </if>
      <if test="klAppendix != null">
        #{klAppendix,jdbcType=VARCHAR},
      </if>
      <if test="klAppendixNumber != null">
        #{klAppendixNumber,jdbcType=INTEGER},
      </if>
      <if test="klVideo != null">
        #{klVideo,jdbcType=VARCHAR},
      </if>
      <if test="klVideoNumber != null">
        #{klVideoNumber,jdbcType=INTEGER},
      </if>
      <if test="klHints != null">
        #{klHints,jdbcType=INTEGER},
      </if>
      <if test="klCollectionNumber != null">
        #{klCollectionNumber,jdbcType=INTEGER},
      </if>
      <if test="klConnectIds != null">
        #{klConnectIds,jdbcType=VARCHAR},
      </if>
      <if test="klParentFileId != null">
        #{klParentFileId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.KlKnowledgeExample" resultType="java.lang.Long">
    select count(*) from kl_knowledge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kl_knowledge
    <set>
      <if test="record.klId != null">
        kl_id = #{record.klId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.klKind != null">
        kl_kind = #{record.klKind,jdbcType=INTEGER},
      </if>
      <if test="record.klTitle != null">
        kl_title = #{record.klTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.klIntroduction != null">
        kl_introduction = #{record.klIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.klContent != null">
        kl_content = #{record.klContent,jdbcType=VARCHAR},
      </if>
      <if test="record.klTags != null">
        kl_tags = #{record.klTags,jdbcType=VARCHAR},
      </if>
      <if test="record.klAppendix != null">
        kl_appendix = #{record.klAppendix,jdbcType=VARCHAR},
      </if>
      <if test="record.klAppendixNumber != null">
        kl_appendix_number = #{record.klAppendixNumber,jdbcType=INTEGER},
      </if>
      <if test="record.klVideo != null">
        kl_video = #{record.klVideo,jdbcType=VARCHAR},
      </if>
      <if test="record.klVideoNumber != null">
        kl_video_number = #{record.klVideoNumber,jdbcType=INTEGER},
      </if>
      <if test="record.klHints != null">
        kl_hints = #{record.klHints,jdbcType=INTEGER},
      </if>
      <if test="record.klCollectionNumber != null">
        kl_collection_number = #{record.klCollectionNumber,jdbcType=INTEGER},
      </if>
      <if test="record.klConnectIds != null">
        kl_connect_ids = #{record.klConnectIds,jdbcType=VARCHAR},
      </if>
      <if test="record.klParentFileId != null">
        kl_parent_file_id = #{record.klParentFileId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kl_knowledge
    set kl_id = #{record.klId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      kl_kind = #{record.klKind,jdbcType=INTEGER},
      kl_title = #{record.klTitle,jdbcType=VARCHAR},
      kl_introduction = #{record.klIntroduction,jdbcType=VARCHAR},
      kl_content = #{record.klContent,jdbcType=VARCHAR},
      kl_tags = #{record.klTags,jdbcType=VARCHAR},
      kl_appendix = #{record.klAppendix,jdbcType=VARCHAR},
      kl_appendix_number = #{record.klAppendixNumber,jdbcType=INTEGER},
      kl_video = #{record.klVideo,jdbcType=VARCHAR},
      kl_video_number = #{record.klVideoNumber,jdbcType=INTEGER},
      kl_hints = #{record.klHints,jdbcType=INTEGER},
      kl_collection_number = #{record.klCollectionNumber,jdbcType=INTEGER},
      kl_connect_ids = #{record.klConnectIds,jdbcType=VARCHAR},
      kl_parent_file_id = #{record.klParentFileId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.KlKnowledge">
    update kl_knowledge
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="klKind != null">
        kl_kind = #{klKind,jdbcType=INTEGER},
      </if>
      <if test="klTitle != null">
        kl_title = #{klTitle,jdbcType=VARCHAR},
      </if>
      <if test="klIntroduction != null">
        kl_introduction = #{klIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="klContent != null">
        kl_content = #{klContent,jdbcType=VARCHAR},
      </if>
      <if test="klTags != null">
        kl_tags = #{klTags,jdbcType=VARCHAR},
      </if>
      <if test="klAppendix != null">
        kl_appendix = #{klAppendix,jdbcType=VARCHAR},
      </if>
      <if test="klAppendixNumber != null">
        kl_appendix_number = #{klAppendixNumber,jdbcType=INTEGER},
      </if>
      <if test="klVideo != null">
        kl_video = #{klVideo,jdbcType=VARCHAR},
      </if>
      <if test="klVideoNumber != null">
        kl_video_number = #{klVideoNumber,jdbcType=INTEGER},
      </if>
      <if test="klHints != null">
        kl_hints = #{klHints,jdbcType=INTEGER},
      </if>
      <if test="klCollectionNumber != null">
        kl_collection_number = #{klCollectionNumber,jdbcType=INTEGER},
      </if>
      <if test="klConnectIds != null">
        kl_connect_ids = #{klConnectIds,jdbcType=VARCHAR},
      </if>
      <if test="klParentFileId != null">
        kl_parent_file_id = #{klParentFileId,jdbcType=INTEGER},
      </if>
    </set>
    where kl_id = #{klId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.KlKnowledge">
    update kl_knowledge
    set user_id = #{userId,jdbcType=INTEGER},
      kl_kind = #{klKind,jdbcType=INTEGER},
      kl_title = #{klTitle,jdbcType=VARCHAR},
      kl_introduction = #{klIntroduction,jdbcType=VARCHAR},
      kl_content = #{klContent,jdbcType=VARCHAR},
      kl_tags = #{klTags,jdbcType=VARCHAR},
      kl_appendix = #{klAppendix,jdbcType=VARCHAR},
      kl_appendix_number = #{klAppendixNumber,jdbcType=INTEGER},
      kl_video = #{klVideo,jdbcType=VARCHAR},
      kl_video_number = #{klVideoNumber,jdbcType=INTEGER},
      kl_hints = #{klHints,jdbcType=INTEGER},
      kl_collection_number = #{klCollectionNumber,jdbcType=INTEGER},
      kl_connect_ids = #{klConnectIds,jdbcType=VARCHAR},
      kl_parent_file_id = #{klParentFileId,jdbcType=INTEGER}
    where kl_id = #{klId,jdbcType=INTEGER}
  </update>
</mapper>